<header>
    <div class="loginPage">
      <a href="#" class="logo">Acktec</a>
    </div>
</header>

<div class="login">
    <h1>Welcome!</h1>
    <form [formGroup]="loginForm" class="mx-auto">
        <div class="login-group">
            <label for="username">Username:     </label>
            <input type = "text" />
        </div>

        <div class="login-group">
            <label for="password">Password:     </label>
            <input type = "password" />
        </div>

        <button class="btn-primary btn btn-block">Login</button>
            
    </form>
</div>

