<header>
    <div class="adminPage">
      <a href="#" class="logo">Acktec</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/overview">Overview</a></li>
          <li><a href="#" routerLink="/details">Details</a></li>
          <li><a href="#" routerLink="">Logout</a></li>
        </ul>
      </nav>
    </div>
</header>

<body id="container">
	<div id="divchart">
		<canvas id="overviewChart"></canvas>
    </div>
    
	<!-- <button id="timeData" (click) = "generateTodayData()">Today</button>
	<button id="timeData" (click) = "generateDailyData()">This Month</button> -->
  <!-- <button id="timeData" (click) = "generateMonthlyData()">This Year</button> -->
  
<!-- <button id="today" type="button" >Today</button> -->
<button id="monthly" type="button" >Monthly</button>
<button id="yearly" type="button" >Yearly</button>

    
  <!-- <button id="timeData" >Today</button>
	<button id="timeData" >This Month</button>
	<button id="timeData" >This Year</button> -->
</body>