<header>
    <div class="adminPage">
      <a href="#" class="logo">Acktec</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/overview">Overview</a></li>
          <li><a href="#" routerLink="/details">Details</a></li>
        </ul>
      </nav>
    </div>
</header>

<body id="container">
	<div id="divchart">
		<canvas id="overviewChart"></canvas>
    </div>
    
	<button id="todayData">Today</button>
	<button id="weeklyData">This Week</button>
	<button id="monthlyData">This Month</button>
	<button id="yearlyData">This Year</button>
    
	<!-- <script>
		

	</script> -->
</body>